* {
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #d3d3d3;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  color: inherit;
}

a {
  display: inline-block;
  width: max-content;
  transition: 0.1s;
}

a:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

nav {
  width: 100%;
  padding: 25px;
  background-color: #071013;
  color: #dfe0e2;
  position: sticky;
  top: 0;
  /* display: flex; */
}

nav a {
  text-decoration: none;
}

header {
  padding-top: 15px;
}

header img {
  min-width: 40%;
  max-width: 100%;
}

.table {
  overflow-x: auto;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
}

table a {
  text-decoration: underline;
}

table,
th,
td {
  border: 2px solid black;
}

th,
td {
  padding: 15px;
}

.imgCont {
  width: 300px;
}

.img {
  display: block;
  width: 100%;
}

footer {
  padding-top: 15px;
  margin-top: auto !important;
}

.login {
  margin: 0 auto;
  min-width: 20%;
}

.login h1 {
  text-align: center;
}

.login input {
  width: 100%;
  padding: 8px;
  border: unset;
  margin-top: 2%;
}

.login button {
  width: 100%;
  background-color: #071013;
  color: #dfe0e2;
  border: unset;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  transition: 0.12s;
}

.login button:hover{
  text-decoration: underline;
  transform: scale(1.1);
}

.new{
  min-width: 20%;
  margin-right: auto;
  /* margin-left: 0.5%; */
}

.new input{
  width: 100%;
  padding: 8px;
  border: unset;
  margin-top: 2%;
}

.new select{
  width: 100%;
  padding: 8px 0 8px 0;
  border: unset;
  margin-top: 2%;
  background-color: white;
}

#jugador_imatge{
  padding: 8px 0 8px 0;
  width: 100%;
}

.new button{
  width: 100%;
  background-color: #071013;
  color: #dfe0e2;
  border: unset;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  transition: 0.12s;
}

.new button:hover{
  text-decoration: underline;
  transform: scale(1.1);
}

@media (max-width: 380px) {
  nav {
    display: flex;
    flex-direction: column;
    position: unset;
    margin: 0 auto;
    align-items: center;
  }
}
